h1 {
  color: white;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
}

.img-stat {
  display: flexbox;
  text-align: center;
  color: white;
  width: 100vw;
  height: 50vh;
  padding-top: 1.5%;
  padding-bottom: 25%;
}

.img-stat h5 {
  font-size: 2.5rem;
  padding: 1%;
  margin: 0;
}

/* p {
  display: flex;
  top: 20%;
} */